<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvdgXCc8GxGi0BT7wPAwFwZIUjowmw_f4</string>
	<key>GCM_SENDER_ID</key>
	<string>7951362712</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.godsseo.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dimastio</string>
	<key>STORAGE_BUCKET</key>
	<string>dimastio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:7951362712:ios:b0744f23c2fb920ce0feed</string>
</dict>
</plist>